:root {
    --primary-color: #1e90ff;
    --secondary-color: #13479a;
    --background-color: rgba(255, 255, 255, 0.95);
    --textbotton: #ffffff;  
    --text-color: #333;
    --hover-color: red;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Imagenes_y_Archivos/FondodepantallaP2.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    padding-bottom: 40px;
}

header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 70px;
    width: auto;
}

#barradenavegacion {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 10px 0;
    margin: 10px;
}

#barradenavegacion li a {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 17.5px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

#barradenavegacion li a:hover {
    color: var(--hover-color);
}

main {
    padding: 40px 20px;
    text-align: center;
}

.glosario-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 20px auto;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#searchInput {
    padding: 8px;
    font-size: 16px;
    border: 3px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(12, 33, 154, 0.1);
}

#searchInput:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

dl {
    text-align: left;
    line-height: 1.8;
}

dl dt {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border-left: 4px solid var(--primary-color);
    padding-left: 10px;
}

dl dd {
    margin-left: 30px;
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 15px;
    position: relative;
    background-color: rgba(245, 245, 245, 0.95);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

dl dd::before {
    content: "↪";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

#volver-arriba a {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--textbotton) !important;  /* Forzar el color del texto */
    text-decoration: none;  /* Elimina el subrayado predeterminado */
    border-radius: 8px;
    transition: background 0.3s ease;
}

#volver-arriba a:hover {
    background-color: var(--secondary-color);
}
